
<h1 class="country-pic text-center">Your email has been sent!</h1>
<img
  class="country-pic"
  src="assets/images/email.jpeg"
  alt="USA"
  width="10"
  height="400"
/>

<a class="btn btn-primary btn-lg country-pic text-center" href="/quiz" role="button">Click here to take the quiz again!</a>

