

<div class="d-flex space-between">

  <div class="card w-100" style="background-color: #31343c;">
    <div class="card-body text-center">
      <span ><i class="fas fa-globe-americas fa-7x"></i></span>
      <div class="d-grid gap-2 col-12 mx-auto">
        
        <h3 class="fw-bold fst-italic text-center" style="background-color: #FEFEFE;">Not sure where to travel to next? </br> Take this simple quiz to find out!</h3>
        <a class="btn btn-primary btn-lg" href="/quiz" role="button">Start the Quiz</a>
        
      </div>
    </div>
  </div>
</div>
