<h1>You need to login or sign-up to take our quiz!</h1>
<!-- we have our login form here -->
<form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div class="pass-sec">
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
    <a class="btn btn-primary btn-lg login-btn" role="button">login</a>
  </div>
</form>

<!-- and we have a sign up form here -->
<form class="signup-form">
  <div class="user-sign-sec">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>

    <a class="btn btn-primary btn-lg signup-btn" role="button">signup</a>
  </div>
</form>
 </div>
</div>


<script src="/assets/js/login.js"></script>
