<h1> Uh oh! Based on your answers we're not quite sure where you should travel, take the quiz again? </h1>

<a class="btn btn-primary btn-lg country-pic text-center" href="/quiz" role="button">Click here to take the quiz again!</a>