<h1 class="country-pic text-center">You should go to: the USA!</h1>
<img
  class="country-pic"
  src="assets/images/USA.jpg"
  alt="USA"
  width="800"
  height="800"
/>

<div>
  <a
    href="https://www.tripadvisor.com/Attractions-g191-Activities-United_States.html" target="_blank" style="text-decoration: none" class="link text-center">Click here for things to do!!</a>


            <form
              id="contact-form"
              method="POST"
              action="send"
              enctype="multipart/form-data"
              class="link"
            >
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 ml-auto">
                    <input
                      placeholder="Email"
                      id="email"
                      type="email"
                      name="email"
                      class="form-control email-link"
                      aria-describedby="emailHelp"
                      required
                    />
                    <button type="submit" value="submit" class="btn btn-primary btn-lg" href="/contact">
                Send me my results!
                    </button>
                  </div>
                </div>
              </div>
            </form>
</div>