<h1 class="country-pic text-center">You should go to: Japan!</h1>
<img
  class="country-pic"
  src="assets/images/japan.jpeg"
  alt="USA"
  width="400"
  height="800"
/>

<div>
  <a
    href="https://www.tripadvisor.com/Attractions-g294232-Activities-Japan.html"
    target="_blank"
    style="text-decoration: none"
    class="link text-center"
  >Click here for things to do!!</a>
  <form class="link text-center">
    <div>
      <label for="username-login">email:</label>
      <input type="text" id="username-login" />
    </div>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Send me my
      results!</a>
  </form>
</div>